@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200');

body {
  background-color: black;
  color: #eee;
  font-family: 'Arima Madurai', sans-serif;
}

h1 {
  margin: 0;
  font-weight: 100;
  font-size: 60vh;
  text-align: center;
}